# CUSTOM
.DS_Store
app/composer.lock
app/yarn-error.log

# Created by https://www.gitignore.io/api/laravel

### Laravel ###
app/vendor/
app/node_modules/
app/npm-debug.log

# Laravel 4 specific
app/bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
app/public/storage
app/public/hot
app/storage/*.key
app/.env.*.php
app/.env.php
app/.env
app/Homestead.yaml
app/Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
app/.rocketeer/
.rocketeer/
